<h1>Category: <%= @category.name %></h1>
<br>
<h3>Recipes:</h3>
<% if @category_recipes.any? %>
<ul>
  <% @category_recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"> <%= recipe.name %></a></li>
  <% end %>
</ul>
<% end %>
<% unless @category_recipes.length == @recipes.length %>
<h4>Add Recipes:</h4>
<form action="/category/<%= @category.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @recipes.each do |recipe| %>
    <% unless @category.recipes.include?(recipe) %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="recipe_ids[]" value="<%= recipe.id %>"> <%= recipe.name %>
      </label>
    </div>
    <% end %>
  <% end %>
  <button name="add_recipes" type='submit' class="btn btn-success">Add Recipes</button>
</form>
<% end %>
<br>
<form class="form-inline" action="/category/<%= @category.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
<button type="submit" class="btn btn-danger" name="delete_category">Delete Category</button>
</form>
