<h1>Recipe: <%= @recipe.name %></h1>
<br>
<h3>Instructions:</h3>
<p>
 <%= @instructions.description %>
</p>
<br>
<h3>Ingredients:</h3>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <% @ingredients.each do |ingredient| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id %>"> <%= ingredient.name %>
      </label>
    </div>
  <% end %>
  <button type="submit" class="btn btn-danger" name="delete_ingredient">Delete Ingredients</button>
</form>
<br>
<form action="/recipes/<%= @recipe.id %>/ingredients" method="post">
  <input type="hidden" name="_method" value="patch">
  <button type="submit" class="btn btn-primary" name="update_ingredient">Edit Ingredients</button>
</form>


<h3>Categories:</h3>
<div align="center">
  <% @recipe_categories.each do |category| %>
    <a href="/category/<%= category.id %>" class="btn btn-warning" role="button" id="<%= category.id %>"><%= category.name %></a>
  <% end %>
</div>

<% unless @recipe_categories.length == @categories.length %>
<h4>Add Categories:</h4>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @categories.each do |category| %>
    <% unless @recipe.categories.include?(category) %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="category_ids[]" value="<%= category.id %>"> <%= category.name %>
      </label>
    </div>
    <% end %>
  <% end %>
  <button name="add_categories" type='submit' class="btn btn-success">Add Categories</button>
</form>
<% end %>
