<h1>Recipe: <%= @recipe.name %></h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input required type="hidden" name="_method" value="patch">
  <div class="form-group"
    <label for="recipe_name">Change Recipe Name</label>
    <input type="text" name="recipe_name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" id="update_recipe">Update Recipe</button>
<br>
<h3>Instructions:</h3>
<p>
 <%= @instructions.description %>
</p>
<br>
<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <div class='form-group'>
    <label for="add_ingredient">Add another ingredient</label>
    <input type="text" name="ingredient" class="form-control">
  </div>
  <button type="submit" name="add_ingredient" class="btn btn-success">Add Ingredient</button>
  <a href="/recipes/<%= @recipe.id %>/ingredients" class="btn btn-primary" role="button">Edit Ingredients</a>

</form>

<h3>Categories:</h3>
<div align="center">
  <% @recipe_categories.each do |category| %>
    <a href="/category/<%= category.id %>" class="btn btn-warning" role="button" id="<%= category.id %>"><%= category.name %></a>
  <% end %>
</div>
  </div>
</form>
  <button type="submit" name="add_ingredient" class="btn btn-success">Add Ingredient</button>
  <a href="/recipes/<%= @recipe.id %>/ingredients" class="btn btn-success" role="button">Edit Ingredients</a>
